<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-10">
    <div>
        <h1 class="text-center text-2xl">Welcome to Lab02</h1>
        <h3 class="text-lg mt-10">Objective</h3>
        <p>
            &emsp; In this lab you practice the concepts of the CRUD operations (create, read, update, delete) in a
            Node JS Express application. The objective of this assignment is to make a Node JS Express
            application that acts as a contact database and allows the user to create, edit, view, or delete
            individual contacts. The home page will list all the contacts and from there the user can view,
            edit, delete, or add a contact. You will not use a database for this app to store persistent data,
            instead you will need to persist the data using a file on the file system as show in class demos.
        </p>
        <p>&emsp; This application is using EJS as its template engine and tailwindCSS for styling. </p>
        <a href="/contacts" class="rounded-md p-2 text-white bg-green-400 hover:bg-green-500">View Contacts Database</a>
    </div>
</body>
</html>