<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
</head>
<body>
    <div>
        <h1>Welcome to Lab02</h1>
        <p>The purpose of this application is to build a contact database using Node JS and Express. This application is using EJS as its template engine and </p>
    </div>
</body>
</html>