body {
    margin: 0px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    height: 64px;
}

nav > ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    background-color: blue;
    text-align: center;
}

#mainContent {
    margin-top: 100px;
}