body {
    margin: 0px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    height: 64px;
}

nav > ul {
    
    list-style: none;
    
    
    
}

nav > ul > li {
    float: right;
    background-color: blue;
    width: 80px;
    margin: 0px;
    padding:
    text-align: center;
}

#mainContent {
    margin-top: 100px;
}