body {
    margin: 0px;
}
nav {
    
   background-color: red;
   display: flex;
   justify-content: flex-end;
   margin: 0px;
}



nav > ul {
    list-style: none;
    padding: 10px;
    background-color: blue;
}